<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.infobip.mobile.messaging.demo">

    <application>

        <activity
            android:name=".MainActivity"
            android:label="@string/main_activity_title"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".WebViewActivity"
            android:label="@string/web_view_activity_title"
            android:theme="@style/AppTheme.NoActionBar"/>

        <receiver
            android:name=".MainActivity$NotificationTappedReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="org.infobip.mobile.messaging.NOTIFICATION_TAPPED"/>
            </intent-filter>

        </receiver>

    </application>

</manifest>
