<?xml version="1.0" encoding="utf-8"?>
<!--
  AndroidManifest.xml
  Infobip RTC UI

  Copyright (c) 2016-2025 Infobip Limited
  Licensed under the Apache License, Version 2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <activity
            android:name=".internal.ui.CallActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:showWhenLocked="true"
            android:supportsPictureInPicture="true"
            android:taskAffinity=""
            android:theme="@style/InfobipRtcUi.Call"
            android:turnScreenOn="true" />
        <receiver
            android:name=".internal.receiver.PushIdBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.infobip.mobile.messaging.REGISTRATION_CREATED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".internal.receiver.LcRegIdBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.infobip.mobile.messaging.chat.LIVECHAT_REGISTRATION_ID_UPDATED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".internal.receiver.PhoneStateBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <service
            android:name=".internal.service.DefaultInfobipRtcUiFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".internal.service.ActiveCallService"
            android:exported="false"
            android:foregroundServiceType="phoneCall" />
        <service
            android:name=".internal.service.ScreenShareService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
        <service
            android:name="com.infobip.webrtc.sdk.impl.push.FcmTokenRefresher"
            android:exported="false" />
    </application>

</manifest>