<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_backup_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="false">

        <service
            android:name="org.infobip.mobile.messaging.cloud.MobileMessagingCloudService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" >
        </service>

        <service
            android:name="org.infobip.mobile.messaging.cloud.firebase.MobileMessagingFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="org.infobip.mobile.messaging.platform.MobileMessagingJobService"
            android:enabled="false"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <receiver
            android:name="org.infobip.mobile.messaging.MobileMessagingConnectivityReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <!-- Intent filter is for pre-7.0 Nougat devices -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="org.infobip.mobile.messaging.interactive.notification.NotificationActionTapReceiver"
            android:exported="false" />

        <activity
            android:name=".view.WebViewActivity"
            android:exported="false"
            android:theme="@style/IB_WebViewTheme">
            <intent-filter>
                <action android:name="org.infobip.mobile.messaging.NOTIFICATION_TAPPED" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.infobip.mobile.messaging.NotificationTapReceiverActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>
</manifest>
