<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.infobip.mobile.messaging.demo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name=".permission.C2D_MESSAGE"/>
    <permission android:name=".permission.C2D_MESSAGE" android:protectionLevel="signature"/>

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <receiver
                android:name="org.infobip.mobile.messaging.gcm.MobileMessagingGcmReceiver"
                android:exported="true"
                android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>

        <service
                android:name="org.infobip.mobile.messaging.gcm.MobileMessagingGcmIntentService"
                android:exported="false">
        </service>
        <service
                android:name="org.infobip.mobile.messaging.gcm.MobileMessagingInstanceIDListenerService"
                android:exported="false">
                <intent-filter>
                    <action android:name="com.google.android.gms.iid.InstanceID"/>
                    <!-- Intent filter below is for pre-4.4 KitKat devices -->
                    <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                </intent-filter>
        </service>

        <receiver
            android:name="org.infobip.mobile.messaging.demo.MobileMessagingBroadcastReceiver">
            <intent-filter>
                <action android:name="org.infobip.mobile.messaging.REGISTRATION_ACQUIRED"/>
                <action android:name="org.infobip.mobile.messaging.REGISTRATION_CREATED"/>
                <action android:name="org.infobip.mobile.messaging.API_COMMUNICATION_ERROR"/>
                <action android:name="org.infobip.mobile.messaging.API_PARAMETER_VALIDATION_ERROR"/>
            </intent-filter>
        </receiver>

        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".InspectActivity"
                android:label="@string/title_activity_inspect">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity"/>
        </activity>
    </application>
</manifest>
