<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".view.InAppChatAttachmentPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IB_ChatDefaultTheme" />
        <activity
            android:name=".view.InAppChatActivity"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:theme="@style/IB_ChatDefaultTheme" />
        <receiver
            android:name=".core.PersonalizationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.infobip.mobile.messaging.PERSONALIZED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="org.infobip.mobile.messaging.chat.InAppChatImpl"
            android:value="org.infobip.mobile.messaging.MessageHandlerModule" />

    </application>
</manifest>
