<?xml version="1.0" encoding="utf-8"?>
<!--
  AndroidManifest.xml
  Mobile Messaging SDK

  Copyright (c) 2016-2025 Infobip Limited
  Licensed under the Apache License, Version 2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="false"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name=".view.InAppChatAttachmentPreviewActivity"
            android:theme="@style/IB_ChatDefaultTheme" />
        <activity
            android:name=".view.InAppChatActivity"
            android:noHistory="false"
            android:theme="@style/IB_ChatDefaultTheme" />

        <receiver
            android:name=".core.PersonalizationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.infobip.mobile.messaging.PERSONALIZED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".core.PushRegistrationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.infobip.mobile.messaging.REGISTRATION_CREATED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="org.infobip.mobile.messaging.chat.InAppChatImpl"
            android:value="org.infobip.mobile.messaging.MessageHandlerModule" />

        <!-- File provider for files created for chat camera -->
        <provider
            android:name=".attachments.InAppChatAttachmentFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Trigger Google Play services to install the backported photo picker module. -->
        <service
            android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>
            <meta-data
                android:name="photopicker_activity:0:required"
                android:value="" />
        </service>
    </application>
</manifest>
