<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.infobip.mobile.messaging.chat">

    <application>

        <receiver
            android:name="org.infobip.mobile.messaging.chat.core.CoreBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.infobip.mobile.messaging.USER_DATA_REPORTED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="org.infobip.mobile.messaging.chat.view.ChatActivity"
            android:theme="@style/IB_AppTheme"/>

        <meta-data
            android:name="org.infobip.mobile.messaging.chat.core.MobileChatImpl"
            android:value="org.infobip.mobile.messaging.MessageHandlerModule" />

    </application>

</manifest>
