<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.infobip.mobile.messaging.interactive">

    <application>

        <receiver android:name="org.infobip.mobile.messaging.interactive.notification.NotificationActionTapReceiver" />

        <meta-data
            android:name="org.infobip.mobile.messaging.interactive.MobileInteractiveImpl"
            android:value="org.infobip.mobile.messaging.MessageHandlerModule" />

        <meta-data
            android:name="org.infobip.mobile.messaging.interactive.notification.InteractiveNotificationHandler"
            android:value="org.infobip.mobile.messaging.notification.NotificationHandler" />

    </application>

</manifest>