<?xml version="1.0" encoding="utf-8"?>
<!--
  AndroidManifest.xml
  Mobile Messaging SDK

  Copyright (c) 2016-2025 Infobip Limited
  Licensed under the Apache License, Version 2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.infobip.mobile.messaging.demo">

    <application>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/main_activity_title"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
